body{
	/*para usar el puglins de colorpiker teclear ctrl+shift+c*/
	background-color: #F4DAC9;
	color: #E56565;
	font-family: 'Lato', sans-serif;
}

img{
	max-width: 100%;
	
}

.quitar-float{
	float: none;
}

.espacio-arriba{
	margin-top: 100px;
}

.Domine{
	font-family: 'Domine', serif;
}

.grande{
	font-size: 3em;
}

.espacio-derecha{
	margin-right: 1em;
}

.red{
	color: #F23545;
}

.sub{
	color: #29A30F;
}

a{
	color: #914E86;
	font-family: bold;
}